{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Logout" %}{% endblock %}

{% block content %}
<!-- templates/registration/login.html -->

<div class="row justify-content-center align-items-center">
	<div class="col-md-6">
		<div class="col-md-12">

			<form action="" method="POST" enctype="multipart/form-data" class="text-center">
				{% csrf_token %}

				<h2>Logout</h2>

				<p>{% trans 'Are you sure you want to log out?' %}</p>

				<input type="hidden" name="next" value="/packages/">

				<div class="form-group">
					<input type="submit" name="submit" class="btn btn-primary btn-md" value="{% trans 'Yes, logout' %}">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
