{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load quaddicted %}


{% block title %}{% trans "Change password" %}{% endblock %}


{% block content %}
	<div class="row justify-content-center align-items-center">
		<div class="col-md-6">
			<div class="col-md-12">
				<form method="post" action="">
					{% csrf_token %}


					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							{{ form.non_field_errors }}
						</div>
					{% endif %}


					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}


					{% with f=form.old_password %}
						<div class="form-group">
							<label for="{{ f.id_for_label }}">{{ f.label }}</label>
							<input type="text"
							       class="form-control {% if f.errors %}is-invalid{% endif %}"
							       id="{{ f.id_for_label }}"
							       name="{{ f.html_name }}"
							       maxlength="{{ f.field.maxlength|default_if_none:'' }}"
							       value="{{ f.value|default_if_none:'' }}"
							       {% if f.required %}required="required"{% endif %}>
							<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
							{% include 'includes/field_errors.html' %}
						</div>
					{% endwith %}


					{% with f=form.new_password1 %}
						<div class="form-group">
							<label for="{{ f.id_for_label }}">{{ f.label }}</label>
							<input type="text"
							       class="form-control {% if f.errors %}is-invalid{% endif %}"
							       id="{{ f.id_for_label }}"
							       name="{{ f.html_name }}"
							       maxlength="{{ f.field.maxlength|default_if_none:'' }}"
							       value="{{ f.value|default_if_none:'' }}"
							       {% if f.required %}required="required"{% endif %}>
							<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
							{% include 'includes/field_errors.html' %}
						</div>
					{% endwith %}


					{% with f=form.new_password2 %}
						<div class="form-group">
							<label for="{{ f.id_for_label }}">{{ f.label }}</label>
							<input type="text"
							       class="form-control {% if f.errors %}is-invalid{% endif %}"
							       id="{{ f.id_for_label }}"
							       name="{{ f.html_name }}"
							       maxlength="{{ f.field.maxlength|default_if_none:'' }}"
							       value="{{ f.value|default_if_none:'' }}"
							       {% if f.required %}required="required"{% endif %}>
							<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
							{% include 'includes/field_errors.html' %}
						</div>
					{% endwith %}


				<div class="form-group">
					<input type="submit" name="submit" class="btn btn-primary btn-md" value="{% trans 'Change password' %}">
				</div>
			</form>
		</div>
	</div>
{% endblock %}
