{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block title %}{% trans "Register for an account" %}{% endblock %}


{% block content %}
<!-- templates/registration/login.html -->
<div class="row justify-content-center align-items-center">
	<div class="col-md-6">
		<div class="col-md-12">

			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}

			{% with f=form.username %}
				<div class="form-group">
					<label for="{{ f.id_for_label }}">{{ f.label }}</label>
					<input type="text"
					       class="form-control {% if f.errors %}is-invalid{% endif %}"
					       id="{{ f.id_for_label }}"
					       name="{{ f.html_name }}"
					       maxlength="32"
					       value="{% if f.value %}{{ f.value }}{% endif %}"
					       required="">
					<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
				{% if f.errors %}
					<div class="invalid-feedback">
						<ul class="list-unstyled">
						{% for e in f.errors %}
							<li>{{ e }}</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
				</div>
			{% endwith %}

			{% with f=form.email %}
				<div class="form-group">
					<label for="{{ f.id_for_label }}">{{ f.label }}</label>
					<input type="email"
					       class="form-control {% if f.errors %}is-invalid{% endif %}"
					       id="{{ f.id_for_label }}"
					       name="{{ f.html_name }}"
					       maxlength="32"
					       value="{% if f.value %}{{ f.value }}{% endif %}"
					       required="">
					<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
				{% if f.errors %}
					<div class="invalid-feedback">
						<ul class="list-unstyled">
						{% for e in f.errors %}
							<li>{{ e }}</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
				</div>
			{% endwith %}

			{% with f=form.password1 %}
				<div class="form-group">
					<label for="{{ f.id_for_label }}">{{ f.label }}</label>
					<input type="password"
					       class="form-control {% if f.errors %}is-invalid{% endif %}"
					       id="{{ f.id_for_label }}"
					       name="{{ f.html_name }}"
					       maxlength="32"
					       value="{% if f.value %}{{ f.value }}{% endif %}"
					       required="">
					<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
				{% if f.errors %}
					<div class="invalid-feedback">
						<ul class="list-unstyled">
						{% for e in f.errors %}
							<li>{{ e }}</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
				</div>
			{% endwith %}

			{% with f=form.password2 %}
				<div class="form-group">
					<label for="{{ f.id_for_label }}">{{ f.label }}</label>
					<input type="password"
					       class="form-control {% if f.errors %}is-invalid{% endif %}"
					       id="{{ f.id_for_label }}"
					       name="{{ f.html_name }}"
					       maxlength="32"
					       value="{% if f.value %}{{ f.value }}{% endif %}"
					       required="">
					<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
				{% if f.errors %}
					<div class="invalid-feedback">
						<ul class="list-unstyled">
						{% for e in f.errors %}
							<li>{{ e }}</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}
				</div>
			{% endwith %}

				<div class="form-group">
					<input type="submit" name="submit" class="btn btn-primary btn-md" value="{% trans 'Submit' %}">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
