{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}
{% load quaddicted %}


{% block title %}{{ forum.name }} / {{ block.super }}{% endblock %}


{% block forum_content %}
	<div class="row g-3 justify-content-between">
		<div class="col-12 col-lg">
			{% include "djangobb_forum/includes/breadcrumbs.html" %}
		</div>

		<div class="col-auto">
			{% include 'djangobb_forum/includes/paginator-inline.html' with page=topics_page request=request only %}
		</div>

		<div class="col-auto">
			{% if user.is_authenticated %}
				<a href="{% url 'djangobb:add_topic' forum.id %}" class="btn btn-primary">
					{% icon 'edit' %} {% trans "New topic" %}
				</a>
			{% endif %}
		</div>
	</div>


	<table class="table">
		<thead>
			<tr>
				<th class="col-5" scope="col">{% trans "Topic" %}</th>
				<th class="col-2" scope="col">{% trans "Replies" %}</th>
				<th class="col-5" scope="col">{% trans "Last post" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for topic in topics_page %}
				<tr>
					<td>
						<div class="intd">
							<div {% if topic.sticky %}class="sticky"{% else %}{% if topic.closed %}class="closed"{% else %}{% if topic|has_unreads:user %}class="inew"{% else %}class="icon"{% endif %}{% endif %}{% endif %}>
								<div class="nosize"><!-- --></div>
							</div>

							<div class="tclcon">
								{% if topic.sticky %}
									{% comment %}{% trans "Sticky:" %}{% endcomment %}
									{% icon 'thumbtack' %}
								{% endif %}

								{% if topic|has_unreads:user %}
									<strong>
										{% link topic %}
										<span class="byuser">{% trans "by" %} {{ topic.user.username }}</span>
									</strong>
								{% else %}
									{% link topic %}
									<span class="byuser">{% trans "by" %} {{ topic.user.username }}</span>
								{% endif %}
							</div>
						</div>
					</td>
					<td>
						{{ topic.reply_count }}
					</td>
					<td><!-- last post -->
						<a href="{{ topic.last_post.get_absolute_url }}"><time datetime="{{ topic.updated | date:'c' }}">{{ topic.updated | timesince }}</time></a>
						ago by
						<span class="byuser">
							{{ topic.last_post.user.username }}
						</span>
					</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="3" class="text-center">
						{% trans "Forum is empty." %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}



{% block controls %}
	{% if moderator %}
		<div class="card mb-3">
			<div class="card-header">
				{% trans "Moderator control" %}
			</div>

			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="{% url 'djangobb:moderate' forum.id %}">{% trans "Moderate forum" %}</a>
				</li>
			</ul>
		</div>
	{% endif %}
{% endblock %}
