{% load forum_extras %}
{% load i18n %}



<div class="card mb-3">
	<div class="card-body">
		<ul class="nav flex-column">
			{% if user.is_authenticated %}
				<li>{% trans "Logged in as" %} <strong>{{ user.username }}</strong></li>
				<li>{% trans "Last visit:" %} {% forum_time user.last_login %}</li>
				{% if forum_settings.PM_SUPPORT and messages_inbox_count > 0 %}
					<ul><li class="pmlink"><strong><a href="{% url 'messages_inbox' %}">{% trans "There are new messages" %} ({{ messages_inbox_count }})</a></strong></li></ul>
				{% endif %}
			{% else %}
				<li>{% trans "You are not logged in." %}</li>
			{% endif %}

			{% if user.is_superuser and reports %}
				<li class="reportlink"><strong><a href="{% url 'admin:index' %}">{% trans "There are new reports" %} ({% new_reports %})</a></strong></li>
			{% endif %}
		</ul>

	</div>
</div>



{% if user.is_authenticated %}
<div class="card mb-3">
	<div class="card-body">
		<ul class="nav flex-column">
			<li><a href="{% url 'djangobb:search' %}?action=show_new">{% trans "Show new posts since last visit" %}</a></li>
			<li><a href="{% url 'djangobb:misc' %}?action=markread">{% trans "Mark all topics as read" %}</a></li>
		</ul>
	</div>
</div>
{% endif %}



<div class="card mb-3">
	<ul class="list-group list-group-flush">
		{% block menu %}
			<li id="navindex" class="list-group-item">
				<a href="{% url 'djangobb:index' %}">{% trans "Index" %}</a>
			</li>
			<li id="navuserlist" class="list-group-item">
				<a href="{% url 'djangobb:forum_users' %}">{% trans "User list" %}</a>
			</li>
			<li id="navsearch" class="list-group-item">
				<a href="{% url 'djangobb:search' %}">{% trans "Search" %}</a>
			</li>

			{% if user.is_superuser %}
				<li id="navadmin" class="list-group-item">
					<a href="{% url 'admin:index' %}">{% trans "Administration" %}</a>
				</li>
			{% endif %}

			{% if user.is_authenticated %}
				<li id="navprofile" class="list-group-item">
					<a href="{% url 'djangobb:forum_profile' user.username %}">{% trans "Profile" %}</a>
				</li>
				{% if forum_settings.PM_SUPPORT %}
					<li id="navpm" class="list-group-item">
						<a href="{% url 'messages_inbox' %}">{% trans "PM" %}</a>
					</li>
				{% endif %}
			{% endif %}
		{% endblock %}
	</ul>
</div>
