{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}
{% load static %}
{% load quaddicted %}



{% block title %}{{ topic.forum.name }} / {{ topic.name }} / {{ block.super }}{% endblock %}



{% block forum_content %}

	<div class="d-flex">

		<nav aria-label="breadcrumb" class="flex-grow-1">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'djangobb:index' %}">{% trans "Forum" %}</a></li>
				{% if forum %}
					<li class="breadcrumb-item active" aria-current="page">{{ forum.name }}</li>
				{% else %}
					<li class="breadcrumb-item">{% link topic.forum %}</li>
					<li class="breadcrumb-item active" aria-current="page">{{ topic }}</li>
				{% endif %}
			</ol>
		</nav>

		{% include 'djangobb_forum/includes/paginator-inline.html' with page=posts_page request=request only %}

		{% if user.is_authenticated %}
			{% if subscribed %}
				<a id="topic-subscribe-button"
				   href="{% url 'djangobb:forum_delete_subscription' topic.id %}?from_topic"
				   title="{% trans "Unsubscribe" %}"
				   class="btn btn-primary ml-3">
					{% icon 'eye-slash' %}
				</a>
			{% else %}
				<a id="topic-subscribe-button"
				   href="{% url 'djangobb:forum_add_subscription' topic.id %}"
				   title="{% trans "Subscribe" %}"
				   class="btn btn-primary ml-3">
					{% icon 'eye' %}
				</a>
			{% endif %}
		{% endif %}
	</div>


	{% if poll %}
		<div class="card mb-3">
			<div class="card-body">
				<p>{{ poll.question }}</p>

				{% if poll_form %}
					<form action="." method="post">
						{% csrf_token %}

						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}

						{% if poll_form.non_field_errors %}
							<div class="alert alert-danger" role="alert">
								{{ form.non_field_errors }}
							</div>
						{% endif %}

						{% if poll.choice_count > 1 %}
							{% with f=poll_form.choice %}
								<div class="list-group">
									{% for choice in f %}
										<div class="list-group-item list-group-item-action form-check">
											<label class="form-check-label d-block pl-3"
											       for="{{ choice.id_for_label }}">
											<input type="checkbox"
											       class="form-check-input"
											       name="{{ f.html_name }}"
											       id="{{ choice.id_for_label }}"
											       value="{{ choice.data.value }}">
											{{ choice.choice_label }}</label>
										</div>
									{% endfor %}
									<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
								</div>
							{% endwith %}
							<p>
								{% blocktrans with count=poll.choice_count %}
									({{ count }} answers allowed)
								{% endblocktrans %}
							</p>
						{% else %}
							{% with f=poll_form.choice %}
								<div class="list-group">
									{% for choice in f %}
										<div class="list-group-item list-group-item-action form-check">
											<label class="form-check-label d-block pl-3"
											       for="{{ choice.id_for_label }}">
												<input type="radio"
												       class="form-check-input"
												       name="{{ f.html_name }}"
												       id="{{ choice.id_for_label }}"
												       value="{{ choice.data.value }}"
												       {% if choice.data.selected %}checked{% endif %}>
												{{ choice.choice_label }}
											</label>
										</div>
									{% endfor %}
									<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
								</div>
							{% endwith %}
						{% endif %}

						<input class="btn btn-primary"
						       type="submit"
						       name="{{ poll_form.FORM_NAME }}"
						       value="{% trans "Vote" %}">
					</form>
				{% else %}
					{% for choice in poll.choices.all %}
						<strong>{{ choice.choice }}</strong>
						<div class="progress">
							<div class="progress-bar" style="width: {{ choice.percent|floatformat:0 }}%;">
								{% blocktrans with percent=choice.percent|floatformat:1 choice_text=choice.choice count count=choice.votes %}
									{{ count }} vote ({{ percent }}%)
								{% plural %}
									{{ count }} votes ({{ percent }}%)
								{% endblocktrans %}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	{% endif %}


	{% for post in posts_page %}
		<article class="row mb-3" id="p{{ post.id }}">
			<a name="post-{{ post.id }}"></a>

			<div class="col-sm-2">
				{% if post.user.forum_profile.avatar and post.user.forum_profile.show_avatar %}
					<img class="img-thumbnail img-responsive user-photo w-100 mb-3" src="{{ post.user.forum_profile.avatar.url }}" />
				{% else %}
					{% if forum_settings.GRAVATAR_SUPPORT %}
						<img class="img-thumbnail img-responsive user-photo w-100 mb-3" src="{% gravatar post.user.email %}" />
					{% else %}
						<svg class="img-thumbnail img-responsive user-photo" viewBox="0 0 1 1"><use href="{% static 'fontawesome.svg' %}#user"></use></svg>
					{% endif %}
				{% endif %}

				{% if post.user.forum_profile.status %}
					<strong>{{ post.user.forum_profile.status }}</strong>
				{% else %}
					<strong>{{ post.user.forum_profile.group }}</strong>
				{% endif %}
			</div>

			<div class="col-sm-10">
				<div class="card">
					<div class="card-header">
						<strong class="comment-user">{{ post.user.username }}</strong>

						<time class="text-muted small"
						      datetime="{{ post.created }}">

							{% trans "commented" %}

							<a href="{{ post.get_absolute_url }}">
								{% forum_time post.created %}
							</a>
						</time>
					</div>
					<div class="card-body">
						<blockquote>
							{{ post.body_html|safe }}
						</blockquote>

						{% if not user.is_authenticated or user.forum_profile.show_signatures %}
							{% if post.user.forum_profile.signature_html %}
								<div class="postsignature">
									{{ post.user.forum_profile.signature_html|safe }}
								</div>
							{% endif %}
						{% endif %}

						{% with post.attachments.all as attachments %}
							{% if attachments %}
								{% for attach in attachments %}
									<p class="postedit"><em>{% trans "Attachments:" %} <br />{{ attach|attachment_link }}</em></p>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>

					{% if post.updated or user.is_authenticated %}
						<div class="card-footer">
							{% if post.updated %}
								<div class="float-left">
									<small><em>{% trans "Edited by" %} {{ post.updated_by.username }} (<time datetime="{{ post.updated }}">{% forum_time post.updated %}</time>)</em></small>
								</div>
							{% endif %}

							{% if user.is_authenticated %}
								<div class="text-right text-sm text-white">
									<a class="btn btn-warning btn-sm"
									   href="{% url 'djangobb:misc' %}?action=report&amp;post_id={{ post.id }}"
									   title="{% trans "Report" %}">{% icon 'exclamation-circle' %}</a>
							{% endif %}

							{% if moderator or post.user|forum_equal_to:user %}
								<a class="btn btn-danger btn-sm"
								   href="{% url 'djangobb:delete_post' post.id %}"
								   onclick="return confirm('{% trans "Are you sure you want to delete this post?" %}')"
								   title="{% trans "Delete" %}">{% icon 'trash' %}</a>
							{% endif %}

							{% if moderator or post|forum_posted_by:user %}
								<a class="btn btn-secondary btn-sm"
								   href="{% url 'djangobb:edit_post' post.id %}"
								   title="{% trans "Edit" %}">{% icon 'edit' %}</a>
							{% endif %}

							{% if user.is_authenticated %}
								<a class="btn btn-secondary btn-sm"
								   href="#reply"
								   onclick="return copy_paste('p{{ post.id }}');"
								   title="{% trans "Full quote or quote selected text form this post." %}">{% icon 'quote-right' %}</a>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</article>
	{% endfor %}


	{% if reply_form %}
		{% with form=reply_form %}
			{% include "djangobb_forum/includes/post_form.html" %}
		{% endwith %}
	{% endif %}

{% endblock forum_content %}



{% block controls %}
	{% if moderator %}
		<div class="card mb-3">
			<div class="card-header">
				{% trans "Moderator control" %}
			</div>

			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="{% url 'djangobb:delete_posts' topic.id %}">{% trans "Delete multiple posts" %}</a>
				</li>
				<li class="list-group-item">
					<a href="{% url 'djangobb:move_topic' %}?topic_id={{ topic.id }}">{% trans "Move topic" %}</a>
				</li>

				{% if topic.closed %}
					<li class="list-group-item">
						<a href="{% url 'djangobb:open_close_topic' topic.id 'o' %}">{% trans "Open topic" %}</a>
					</li>
				{% else %}
					<li class="list-group-item">
						<a href="{% url 'djangobb:open_close_topic' topic.id 'c' %}">{% trans "Close topic" %}</a>
					</li>
				{% endif %}

				{% if topic.sticky %}
					<li class="list-group-item">
						<a href="{% url 'djangobb:stick_unstick_topic' topic.id 'u' %}">{% trans "Unstick topic" %}</a>
					</li>
				{% else %}
					<li class="list-group-item">
						<a href="{% url 'djangobb:stick_unstick_topic' topic.id 's' %}">{% trans "Stick topic" %}</a>
					</li>
				{% endif %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block lofi %}
	{% if forum_settings.LOFI_SUPPORT %}
		<p class="lofi">
			<a href="{{ topic.get_absolute_url }}lofi/">Lo-Fi Version</a>
		</p>
	{% endif %}
{% endblock %}
