{% extends "base.html" %}
{% load i18n %}
{% load comments %}
{% load static %}
{% load quaddicted %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block css %}
<style>
	article.comment .card-header:after,
	article.comment .card-header:before {
		position:absolute;
		top:11px;left:-16px;
		right:100%;
		width:0;
		height:0;
		display:block;
		content:" ";
		border-color:transparent;
		border-style:solid solid outset;
		pointer-events:none;
	}
	article.comment .card-header:after {
		border-width:7px;
		border-right-color:#f7f7f7;
		margin-top:1px;
		margin-left:2px;
	}
	article.comment .card-header:before {
		border-right-color:#ddd;
		border-width:8px;
	}
</style>
{% endblock %}

{% block content %}
<section class="row">
	<div class="col">
		<h1 class="text-center">{% trans "Comment Preview" %}</h1>

		<form action="{% comment_form_target %}" method="post">
			{% csrf_token %}

			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			<article class="row mb-3 comment" id="c{{ comment.id }}">
				<div class="col-sm-2">
					<svg class="img-thumbnail img-responsive user-photo" viewBox="0 0 1 1"><use href="{% static 'fontawesome.svg' %}#user"></use></svg>
				</div>

				<div class="col-sm-10">
					<div class="card">
						<div class="card-header">
							{% if user.is_authenticated %}
								<strong class="comment-user">{{ user.username }}</strong>
							{% else %}
								<strong class="comment-user">Guest (<small>{{ form.name.value }}</small>)</strong>
							{% endif %}
							<time class="text-muted small"
							      datetime="{{ comment.submit_date }}">
								commented
							</time>
						</div>
						<div class="card-body">
							<blockquote>
								{{ comment|linebreaks }}
							</blockquote>
						</div>
					</div>
				</div>
			</article>

			{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endfor %}
			{% endif %}

			{% if not user.is_authenticated %}
			<div class="row mb-1">
				<div class="col">
					{% include "packages/includes/input.html" with f=form.name only %}
				</div>
			</div>
			{% endif %}

			{% if next %}
				<input type="hidden" name="next" value="{{ next }}"/>
			{% endif %}

			<div class="row mb-1">
				<div class="col">
					{% include "packages/includes/textarea.html" with f=form.comment only %}
				</div>
			</div>

			<div class="d-none">{{ form.honeypot }}</div>

			<div class="row">
				<div class="col">
					<button type="submit" class="btn btn-primary mb-2" name="submit">{% trans "Post" %}</button>
					<button type="submit" class="btn btn-secondary mb-2" name="preview">{% trans "Preview" %}</button>
				</div>
			</div>
		</form>
	</div>
</section>
{% endblock %}
