{% load i18n %}
{% load static %}
{% load quaddicted %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/png" href="{% static 'injector64.png' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %} &mdash; Quaddicted</title>
		<link rel="stylesheet" href="{% static 'quaddicted.css' %}">
		<style type="text/css">
			.icon {
				height: 1em;
				width: 1em;
				vertical-align: middle;
				stroke: currentColor;
				fill: currentColor;
			}
			.list-custom {
				list-style: none;
			}
			.list-custom > li {
				margin-left: -1rem;
			}
			.list-custom > li > .icon {
				margin-right: 0.5rem;
			}

			/* fall-back profile picture */
			svg.img-thumbnail {
				fill: gray;
			}
		</style>

		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

{% block css %}{% endblock %}
{% block head %}{% endblock %}
	</head>
	<body class="">
		<div class="container border-left border-right border-secondary" style="background-color: #201810">

			<!--
				logo
			-->
			<div class="row">
				<div class="col-xl-9">
					<a class="" href="/">
						<img src="{% static 'top.png' %}" alt="" class="img-fluid">
					</a>
				</div>
				<div class="col-xl-3 mt-3 d-none d-xl-flex">
					<div class="media border border-primary p-1 d-none d-xl-flex mb-3">
						<a href="/tools/quake_injector" class="mr-3">
							<img src="{% static 'injector64.png' %}" alt="">
						</a>
						<div class="media-body small">
							Easily install and launch Quake maps with the cross-platform <a href="/tools/quake_injector">Quake Injector</a>
						</div>
					</div>
				</div>
			</div>

			<!--
				navbar
			-->
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-dark navbar-expand-lg mb-3 bg-dark fs-5 p-1">
						<button class="navbar-toggler"
						        type="button"
						        data-bs-toggle="collapse"
						        data-bs-target="#main-navigation"
						        aria-controls="main-navigation"
						        aria-expanded="false"
						        aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="main-navigation">
							<ul class="navbar-nav justify-content-center text-lg-center mx-lg-auto">
								{% nav_links %}
							</ul>
						</div>
					</div>
				</nav>
			</div>

			{% block content %}{% endblock %}
		</div>

		<script src="{% static 'ext/jquery-3.5.1.min.js' %}"></script>
		<script src="{% static 'ext/bootstrap.bundle.min.js' %}"></script>

		{% block javascript %}{% endblock %}
	</body>
</html>