{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Quake Maps</title>
		<link rel="stylesheet"
			href="{% static 'ext/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" />
		<link rel="stylesheet"
				href="{% static 'ext/fontawesome-free-5.12.0-web/css/all.min.css' %}" />
		<style type="text/css">
			.navbar {
				background-color: #544D3D;
				border-bottom-width: 3px !important;
				border-bottom-color: #CCCC99;
			}
			.panel {
				position:relative;
			}
		</style>

{% block css %}{% endblock %}

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark border-bottom mb-3">
			<a class="navbar-brand d-sm-inline-block d-lg-none" href="#">
				<img src="{% static 'injector64.png' %}" width="30" height="30" alt="">
			</a>

			<button class="navbar-toggler"
			        type="button"
			        data-toggle="collapse"
			        data-target="#navbarSupportedContent"
			        aria-controls="navbarSupportedContent"
			        aria-expanded="false"
			        aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="text-lg-center mx-lg-auto">
				<a class="navbar-brand d-none d-lg-inline-block" href="/">
					<img src="{% static 'top.png' %}" alt="">
				</a>
				<ul class="navbar-nav justify-content-center">
					<li class="nav-item {% if active_section == 'home' %}active{% endif %}">
						<a class="nav-link" href="/">Home
							{% if active_section == 'home' %}
								<span class="sr-only">(current)</span>
							{% endif %}
						</a>
					</li>
					<li class="nav-item {% if active_section == 'news' %}active{% endif %}">
						<a class="nav-link" href="/news/">News
							{% if active_section == 'news' %}
								<span class="sr-only">(current)</span>
							{% endif %}
						</a>
					</li>
					<li class="nav-item {% if active_section == 'packages' %}active{% endif %}">
						<a class="nav-link" href="{% url 'packages:list' %}">Packages
							{% if active_section == 'packages' %}
								<span class="sr-only">(current)</span>
							{% endif %}
						</a>
					</li>
					<li class="nav-item {% if active_section == 'wiki' %}active{% endif %}">
						<a class="nav-link" href="/wiki/">Wiki
							{% if active_section == 'wiki' %}
								<span class="sr-only">(current)</span>
							{% endif %}
						</a>
					</li>
					<li class="nav-item {% if active_section == 'forum' %}active{% endif %}">
						<a class="nav-link" href="/forum/">Forum
							{% if active_section == 'forum' %}
								<span class="sr-only">(current)</span>
							{% endif %}
						</a>
					</li>
					<li class="nav-item {% if active_section == 'help' %}active{% endif %}">
						<a class="nav-link" href="/help/">Help
							{% if active_section == 'help' %}
								<span class="sr-only">(current)</span>
							{% endif %}
						</a>
					</li>
				</ul>
			</div>
			</div>
		</nav>

		<div class="container">
			{% block content %}
				<section class="row">
					<div class="col">
						<h1 class="title">
						Maps
						</h1>
						<p class="subtitle">
							My first website with <strong>Bulma</strong>!
						</p>
					</div>
				</section>
			{% endblock %}
		</div>

		<script src="{% static 'ext/jquery-3.0.0.slim.min.js' %}"></script>
		<script src="{% static 'ext/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js' %}"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>