{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %} - Quaddicted</title>
		<!--<link rel="stylesheet" href="{% static 'ext/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">-->
		<link rel="stylesheet" href="{% static 'theme-bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'theme.css' %}">


		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

{% block css %}{% endblock %}

{% block head %}{% endblock %}

	</head>
	<body class="">
		<nav class="navbar navbar-expand-lg navbar-dark border-bottom mb-3">
			<a class="navbar-brand d-sm-inline-block d-lg-none" href="#">
				<img src="{% static 'injector64.png' %}" width="30" height="30" alt="">
			</a>

			<button class="navbar-toggler"
			        type="button"
			        data-toggle="collapse"
			        data-target="#navbarSupportedContent"
			        aria-controls="navbarSupportedContent"
			        aria-expanded="false"
			        aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="text-lg-center mx-lg-auto">
				<a class="navbar-brand d-none d-lg-inline-block" href="/">
					<img src="{% static 'top.png' %}" alt="">
				</a>
				<ul class="navbar-nav justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="/home/">{% trans 'Home' %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/news/">{% trans 'News' %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'packages:list' %}">{% trans 'Packages' %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/wiki/">{% trans 'Wiki' %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'djangobb:index' %}">{% trans 'Forum' %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/help/">{% trans 'Help' %}</a>
					</li>
					<li class="nav-item">
						{% if user.is_authenticated %}
							<a class="nav-link" href="{% url 'auth_logout' %}">{% trans 'Logout' %}</a>
						{% else %}
							<a class="nav-link" href="{% url 'auth_login' %}?next={{ request.path }}">{% trans 'Login' %}</a>
						{% endif %}
					</li>
				</ul>
			</div>
			</div>
		</nav>

		<div class="container">
			{% block content %}{% endblock %}
		</div>


		<div class="modal fade cookieModal" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2 id="cookieModalLabel">Cookie Consent Request</h2>
					</div>
					<div class="modal-body">
						<p>
							This website uses cookies to ensure you get the best experience on our website. You can block cookies and use <em>most</em> of the site just fine.
						</p>
						<p>
							<a href="https://cookiesandyou.com/" target="_blank">Click here to view our cookie policy</a>
						</p>
					</div>
					<div class="modal-footer">
						<button id="cookieModalConsent" type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Accept</button>
						{% comment %}
						<button id="cookieModalDecline" type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Decline</button>
						{% endcomment %}
					</div>
				</div>
			</div>
		</div>

		<script src="{% static 'ext/jquery-3.4.1.min.js' %}"></script>
		<script src="{% static 'ext/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'gdpr.min.js' %}"></script>

		{% block javascript %}{% endblock %}
	</body>
</html>