{% extends "base.html" %}
{% load static %}
{% load quaddicted %}
{% load i18n %}


{% block content %}
	<div class="row">
		<div class="col">
			<h2>Featured Releases</h2>

			<div id="latest_pkgs" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					{% for pkg in latest_pkgs %}
						<li data-target="#latest_pkgs" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
					{% endfor %}
				</ol>


				<div class="carousel-inner">
					{% for pkg in latest_pkgs %}
						<div class="carousel-item {% if forloop.first %}active{% endif %} overflow-hidden" style="max-height: 625px;">
							<img class="d-block w-100"
								{% if pkg.screenshots.exists %}
								src="{{ pkg.screenshots.first.image.url }}">
								{% else %}
								src="{% static '/1280x720.svg' %}">
								{% endif %}

							<div class="carousel-caption d-none d-md-block rounded" style="background-color: rgba(0,0,0,0.5)">
								<h5><a href="{{ pkg.get_absolute_url }}">{{ pkg.name }}</a></h5>
								<p>
									{{ pkg.description }}
								</p>
							</div>
						</div>
					{% endfor %}
				</div>

				<a class="carousel-control-prev" href="#latest_pkgs" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true">
						<span class="sr-only">Previous</span>
					</span>
				</a>
				<a class="carousel-control-next" href="#latest_pkgs" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col">
			<h2>Latest Releases</h2>

			<div class="card-group mb-3">
				{% for pkg in latest_pkgs %}
					<div class="card m-1">
						<a href="{% url 'packages:detail' pkg.file_hash %}" class="bg-secondary">
							<img class="card-img-top overflow-hidden"
								{% if pkg.screenshots.exists %}
									src="{{ pkg.screenshots.first.thumbnail.url }}">
								{% else %}
									src="{% static '/384x216.svg' %}">
								{% endif %}
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="row">
		<!-- Forum Activity -->
		<div class="col-8">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Last Message</th>
					</tr>
				</thead>
				<tbody>
					{% for topic in latest_topics %}
						<tr>
							<td>
								{{ topic }}
							</td>
							<td>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- Links -->
		<div class="col-4">
			<div class="card mb-3">
				<div class="card-header">
					{% trans 'The 5 Minute Quake Guide' %}
				</div>
				<div class="card-body">
					<ul class="list-custom" role="list">
						{% for link in guide_links %}
							<li>{% icon 'book' %} <a href="{{ link.0 }}">{{ link.1 }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-header">
					{% trans 'Guides and Help' %}
				</div>
				<div class="card-body">
					<ul class="list-custom" role="list">
						{% for link in help_links %}
							<li>{% icon 'book' %} <a href="{{ link.0 }}">{{ link.1 }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
