<div class="form-group">
	<label for="{{ f.id_for_label }}">{{ f.label }}</label>
	<input type="text"
	       class="form-control {% if f.errors %}is-invalid{% endif %}"
	       id="{{ f.id_for_label }}"
	       name="{{ f.html_name }}"
	       maxlength="{{ f.field.maxlength|default_if_none:'' }}"
	       value="{{ f.value|default_if_none:'' }}"
	       {% if f.required %}required="required"{% endif %}>
	<small id="{{ f.id_for_label }}_help" class="form-text text-muted">{{ f.help_text }}</small>
	{% include 'includes/field_errors.html' %}
</div>
